* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.page{
    margin: 0 auto;
    width: 76vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 17% 83%; 
}
.photo,.title{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #585858;
}

img {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    width: 85%;
    height: 85%;
    object-fit: contain;
}
.text{
    color: white;
    margin: 0 auto;
}
.name{
    font-size:46px ;
    margin-bottom: 3px;
    font-weight: lighter;
}
.puesto{
    font-size:26px ;
}
hr {
    height: 2px;
    background-color: black;
    margin-top: 1px;
}
.sidebar{
    background-color: #f2f2f2;
}
.sidetext{
    margin: 25px 25px 20px 35px;
}
.maintext{
    margin: 20px 25px 20px 35px;
}
p,li{
    padding-top: 6px;
    font-weight:normal;
    font-size: 15px;
}
ul{
    margin-left: 20px;
    list-style-position: outside;
}
i{
    padding-right: 7px;
    
}
.expl{
    font-size: 14px;
}
h3{
    padding-top: 7px;
}
.gray-color,.puesto{
    color:rgb(145, 145, 145);
    font-weight: lighter;
}
.italic{
    font-style: italic;
}